<div class="singleproduct">
    <div class="halfdev">
        <div class="singlimg" [ngStyle]="{'backgroundImage':'url('+singleProduct[0].img_url+')'}"></div>
    </div>
    <div class="halfdev">
        <div class="singlecontent">
            <h1 class="is-size-3">{{singleProduct[0].name}}</h1>
            <p class="is-size-6">{{singleProduct[0].description}}</p>
            <span class="price is-size-3">{{singleProduct[0].price + ' EGP'}}</span>

            <button class="button is-success" routerLink="/cart">add to cart</button>


        </div>
    </div>
</div>