<nav class="level">

  <p class="level-item has-text-centered">
    <a routerLink="/Home" routerLinkActive="active">HOME</a>
  </p>
  <p class="level-item has-text-centered">
    <a routerLink="/shop" routerLinkActive="active">SHOP</a>
  </p>
  <p class="level-item has-text-centered">
    <img src="../../assets/img/logo/logo.png" alt="logo" style="height: 50px;">
  </p>

  <p class="level-item has-text-centered">
    <a routerLink="/cart" routerLinkActive="active">CART</a>
  </p>
  <p class="level-item has-text-centered">
    <a routerLink="/login" class="link is-info">Log In/</a>
    <a routerLink="/signup" class="link is-info">Sign Up</a>
  </p>

</nav>