


<div class="hero">
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd is-gapless">
      <div class="column ">
        <div class="offer offerone"></div>
      </div>
     
    </div>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd  ">
        <!-- is-gapless -->
        <div class="column is-8">
             <app-carousel></app-carousel>
        </div>
        <div class="column ">
            <div class="heroImg one"></div>
            <!-- <div class="heroImg tow"></div> -->
        </div>

    
    </div>
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd is-gapless">
      <div class="column ">
        <div class="offer offertwo"></div>
      </div>
     
    </div>
</div>

<style>
 
.hero{
    /* background-color: #273c75; */
}
    .heroImg{
    height: 500px;
    background-size: cover;
    background-position: center center;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .one{
    background-image: url('../../assets/img/hero/7.JPG');

    }
    .offer{
    
    /* margin: 0 10px; */
    /* padding: 50px; */
    height: 100px;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    }
.offertwo{
background-image: url('../../assets/img/hero/Meeza-HP-Strip-en.jpg');
}
.offerone{
background-image: url('../../assets/img/hero/Countdown-web-en.gif');
}
</style>