<nav class="level productsnav">

    <p class="level-item has-text-centered">
        <a routerLink="/Blazer" routerLinkActive="active">Blazer</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Coat" routerLinkActive="active">Coat</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Jacket" routerLinkActive="active">Jacket</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Shirt" routerLinkActive="active">Shirt</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Shoes" routerLinkActive="active">Shoes</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Suit" routerLinkActive="active">Suit</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/T-shirt" routerLinkActive="active">T-shirt</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/Pants" routerLinkActive="active">Pants</a>
    </p>
</nav>