<nav class="level productsnav">

    <p class="level-item has-text-centered">
        <a routerLink="/blazer" routerLinkActive="active">blazer</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/coat" routerLinkActive="active">coat</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/jacket" routerLinkActive="active">jacket</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/shirt" routerLinkActive="active">shirt</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/shoes" routerLinkActive="active">shoes</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/suit" routerLinkActive="active">suit</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/tshirt" routerLinkActive="active">tShirt</a>
    </p>
    <p class="level-item has-text-centered">
        <a routerLink="/pants" routerLinkActive="active">pants</a>
    </p>
</nav>