<div class="center" *ngIf="prodacts.length === 0 && !loading;">No Data Found!</div>

<ul>
    
   <h1> {{error}}</h1>
    <li *ngFor= "
    let item of prodacts" (click)="onSelect(item)">
        <h5>{{item.id}}</h5>
        <h5>{{item.name}}</h5>
        <h5>{{item.price}}</h5>
        
    </li>
</ul>

<div *ngIf="loading" class="center">
  <div class="sk-chase">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>
</div>



<style>
    ul li{
        border: 1px solid #000;
        cursor: pointer;
        list-style: none;
        padding: 0 35px;
        display: inline-block;
        width: 200px;
    }
</style>